{{define "days"}}
  {{range .Days}}
    <section class="space-y-4">
      <div class="flex items-center gap-3 mb-9">
        <span class="inline-flex items-center rounded-full px-3 py-1 text-sm font-semibold text-[#8c929f]">
          {{.DateLabel}}
        </span>
        <div class="h-px flex-1 bg-[#1f2937]"></div>
      </div>

      <div class="space-y-2">
        {{range .Clusters}}
          {{$first := index .Messages 0}}
          {{$last := lastMessage .Messages}}

          <div class="rounded-lg border border-[#1f2937] bg-[#020617] p-4 space-y-2">
            <div class="flex items-center justify-between">
              <div class="font-extrabold text-[#dddee1]">{{$first.Name}}</div>
              {{if .Connected}}
                <button
                  type="button"
                  class="js-toggle-reply rounded-lg bg-[#f97316] px-3 py-1.5 text-sm cursor-pointer hover:bg-[#f97316]/85"
                  data-target="reply-{{$last.ID}}"
                >
                  Reply
                </button>
              {{end}}
            </div>

            <div class="space-y-2">
              {{range .Messages}}
                <div class="rounded-lg bg-[#111827] p-3 w-3/4 flex flex-col gap-2">
                  <div class="flex items-center gap-2 text-[#707784] text-sm font-semibold">
                    <p>{{.SendAt.Format "15:04"}}</p>
                  </div>
                  <p class="text-[#cfd1d4] font-bold">{{.Message}}</p>
                </div>

                {{if .Replies}}
                  {{range .Replies}}
                    <div class="rounded-lg bg-[#f97316] p-3 w-3/4 ml-auto flex flex-col gap-2">
                      <div class="flex items-center gap-2 text-[#120701] text-sm font-semibold">
                        {{if .Name}}
                          <p>{{.Name}}</p>
                        {{end}}
                        <p>{{.SendAt.Format "15:04"}}</p>
                      </div>
                      <p class="text-[#120701] font-bold">{{.Message}}</p>
                    </div>
                  {{end}}
                {{end}}
              {{end}}
            </div>

            <form
              id="reply-{{$last.ID}}"
              action="/messages/{{$last.ID}}/reply"
              method="post"
              class="mt-4 hidden text-white"
            >
              <div class="flex gap-2">
                <input
                  name="name"
                  placeholder="Name"
                  class="rounded-lg p-2 text-sm bg-[#0f172a] focus:outline-none"
                />
                <input
                  name="message"
                  placeholder="Message"
                  minlength="1"
                  class="rounded-lg flex-1 p-2 text-sm bg-[#0f172a] focus:outline-none"
                />
                <button
                  type="submit"
                  class="rounded-lg bg-[#f97316] text-black px-3 py-1.5 cursor-pointer hover:bg-[#f97316]/85"
                >
                  Send
                </button>
              </div>
            </form>
          </div>
        {{end}}
      </div>
    </section>
  {{end}}
{{end}}

