name: sqlc
on: [push]

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sqlc-dev/setup-sqlc@v3
        with:
          sqlc-version: "1.29.0"
      - run: sqlc diff
